.loading-bar {
  width: 5px; height: 2px;
  position: fixed; z-index: 1000;
  background: #2ecc71;
  top: 0; left: 0;
  -webkit-transition:all 1000ms ease-in;
  -moz-transition:all 1000ms ease-in;
  -o-transition:all 1000ms ease-in;
  transition:all 1000ms ease-in;
}

.loading-bar .head {
  width: 100px; height: 2px;
  background: #2ecc71;
  box-shadow: 0 0 5px #2ecc71;
  float: right;
}
